/*multiple tag selector*/
th, td {
    color: teal;
    border: 1px solid black;
}

/* tag selector */
table {
    border: 1px solid black;
    /* border-style: solid;
    border-color: black; */
    border-collapse: collapse;
}

/*child tag selector*/
ul a {
    text-decoration: none;
    color: cyan;
} 

/* > direct child selector*/
header > a {
    color: black;
}

.btn {
    background-color: white;
    border: 2px solid black;
    color: black;
    border-radius: 5px;
    padding: .2rem .5rem;
}

/* .btn.success {
    background-color: lightgreen;
} */

button[type="reset"] {
    background-color: lightcoral;
}

.btn[type="submit"] {
    background-color: lightgreen;
}

/* a[href$=".com"] {
    color: black;
} */

a[href^="https"] {
    color: black;
}

header {
    padding: 15px 10px 0;
}

/*assoc class style*/
.form-control.success {
    border: 2px solid lightgreen;
}

#faculty:invalid {
    background-color: tomato;
}

a:visited {
    color: darkred;
    text-decoration: line-through;
}

a:hover {
    font-size: 15px;
}

button:active {
    transform: scale(1.2);
}

/* tr:first-child {
    background-color: lightgray;
}

tr:nth-child(3) {
    background-color: lightblue;
}

tr:last-child {
    background-color: lightpink;
} */

/* tr:nth-child(even) { */
tr:nth-child(2n) {
    background-color: lightblue;
}

/* tr:nth-child(odd) { */
tr:nth-child(2n-1) {
    background-color: lightgray;
}

ul {
    display: flex;
    list-style: none;
}

/* ul > li:not(:last-child) {
    margin-right: 10px;
} */

ul > li:not(:last-child)::after {
    content: ' / ';
    color: red;
}

input:focus,
select:focus {
    border: 5px dotted blue;
}

input::placeholder {
    color: aqua;
}

h2::after {
    content: '2';
    padding: 5px;
    border-radius: 50%;
    background-color: red;
    color: white;
}

/* td {
    color: teal;
} */