:root {
    --primary-color: cyan;
    --primary-text-color: rgb(69, 69, 69);
    --container-paddings: 20px;
}

body {
    margin: 0;
}

header {
    /* position: relative; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    padding: var(--container-paddings);
}

header h2 {
    margin: 0;
}

header span {

    display: block;
    background-color: red;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

header div {
    display: flex;
}

/* header span:first-of-type {
    position: absolute;
    top: 30px;
    right: 50px;
}

header span:nth-of-type(2) {
    position: absolute;
    top: 30px;
    right: 35px;
} 

header span:last-of-type {
    position: absolute;
    top: 30px;
    right: 20px;
} */

.breadcrumb {
    background-color: var(--primary-text-color);
    color: white;
    padding: var(--container-paddings);
}

.breadcrumb button {
    display: none;
    transform: rotate(90deg);
}

.breadcrumb ol {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.breadcrumb ol li:not(:first-child) {
    margin-left: 2px;
}

.breadcrumb ol li:not(:first-child)::before {
    content: '>';
}

.breadcrumb div {
    max-width: fit-content;
}

@media (max-width: 460px) {
    .breadcrumb button {
        display: block;
    }

    .breadcrumb ol {
        display: none;
    }

    .breadcrumb div:hover ol {
        display: block;
    }

    .breadcrumb ol li:not(:first-child)::before {
        content: '|';
    }
}

@media print {
    header,
    .breadcrumb,
    aside,
    footer,
    body > button {
        display: none;
    }

    main {
        grid-template-columns: 0 100%;
    }
}

main {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 10px;
    /* grid-template-areas: 'header' 'header' 'header' 'main' 'main' 'aside'; */
}

main > aside {
    padding: var(--container-paddings);
    box-shadow: 5px 0 8px -8px black;
}

main > aside ul {
    list-style: none;
    padding: 0;
}

li > ul {
    /* visibility: collapse; */
    height: 0;
    width: fit-content;
    /* background-color: aqua; */
    transition: height 300ms;
    overflow: hidden;
}

aside > ul > li:nth-child(3):hover ul {
    /* visibility: visible; */
    height: 40px;
}

main > section {
    background-color: beige;
}

body > button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: rgba(red, .5);
}

/* div:first-child { grid-area: 'header'; }
div:nth-child(2) { grid-area: 'header'; }
div:nth-child(3) { grid-area: 'header'; } */